.context-menu{
    width: auto;
    height: auto;
    margin: 0;
    padding:0;
    position: absolute;
    display: none;
}

.list-item__parent{
    margin: 0;
    padding:0;
    list-style: none;
    display: flex;
    justify-content: space-around;

}
.list-item__parent > li:hover{
    background-color: rgb(0, 60, 255, 0.6);
}
.list-item__parent > li{
    margin:0;
    background-color:rgb(0, 0, 0, 0.6);
    color: rgb(255, 255, 255);
    padding: 2px 2px 2px 2px;
    cursor: pointer;
    font-size: 8px;
    text-align: center;

}
